<app-map-toolbar (locationSelected)="changeLocation($event)"></app-map-toolbar>

<agm-map [latitude]="latitude"
		 [longitude]="longitude"
		 [zoom]="12"
		 [maxZoom]="20"
		 [minZoom]="10"
		 [streetViewControl]="false">

	<agm-marker-cluster [gridSize]="12"
						[imagePath]="markerClusterImage">

		<div *ngFor="let vehicle of vehicles">
			<app-map-marker [vehicle]="vehicle"></app-map-marker>
		</div>

		<div *ngIf="isParkingToggled()">
			<div *ngFor="let parkingLot of parking">
				<app-parking-marker [parking]="parkingLot"></app-parking-marker>
			</div>
		</div>

		<div *ngIf="isPointOfInterestToggled()">
			<div *ngFor="let pointOfInterest of pointOfInterests">
				<app-poi-marker [pointOfInterest]="pointOfInterest"></app-poi-marker>
			</div>
		</div>

	</agm-marker-cluster>
</agm-map>
