<div *ngIf="vehicle">
	<agm-marker [iconUrl]="vehicleMarker(vehicle)"
				[title]="vehicle.name"
				[latitude]="vehicle.location.latitude"
				[longitude]="vehicle.location.longitude">
		<agm-info-window [disableAutoPan]="true">
			<ul>
				<li>{{vehicle.name}}</li>
				<li>{{vehicle.plates}}</li>
				<li>{{vehicle.sideNumber}}</li>
				<li>{{vehicle.battery}}</li>
			</ul>
		</agm-info-window>
	</agm-marker>
</div>

<div *ngIf="parking">
	<agm-marker [iconUrl]="parkingIcon"
				[title]="parking.name"
				[latitude]="parking.location.latitude"
				[longitude]="parking.location.longitude">
		<agm-info-window [disableAutoPan]="true">
			<ul>
				<li>{{parking.name}}</li>
				<li>{{parking.availableSpacesCount}} / {{parking.spacesCount}}</li>
			</ul>
		</agm-info-window>
	</agm-marker>
</div>

<div *ngIf="pointOfInterest">
	<agm-marker [iconUrl]="poiIcon"
				[title]="pointOfInterest.name"
				[latitude]="pointOfInterest.location.latitude"
				[longitude]="pointOfInterest.location.longitude">
	</agm-marker>
</div>
