@import '~@angular/material/theming';

@include mat-core();

$progress-bar-primary: mat-palette($mat-green, A200, A100, A400);
$progress-bar-accent: mat-palette($mat-orange, A200, A100, A400);
$progress-bar-warn: mat-palette($mat-red);
$progress-bar-theme: mat-light-theme($progress-bar-primary, $progress-bar-accent, $progress-bar-warn);

@include mat-progress-bar-theme($progress-bar-theme);
@include mat-chips-theme($progress-bar-theme);
