@import "../variables";

.map-toolbar {
	position: absolute;
	display: flex;
	background: $white;
	border: {
		style: solid;
		width: 0 4px 4px 4px;
		color: $primary;
	};
	left: 50%;
	top: -4px;
	transform: translateX(-50%);
	z-index: 2;
	padding: 20px 24px 0 24px;

	.map-toolbar-icons {
		display: flex;

		.mat-icon {
			cursor: pointer;
			padding: 8px 12px;
			user-select: none;
			transform: scale(1.2);
			opacity: 0.5;
		}

		.mat-icon-toggled {
			opacity: 1;
		}
	}

	.mat-form-field {
		padding: 0 24px 0 0;
		width: 100px;

		.mat-form-field-infix {
			border: none;
		}
	}

	.map-toolbar-battery-form {
		width: 50px;
		padding-right: 0;

		input {
			text-align: center;
		}

		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

}
