@import '../variables';

$padding: 16px;

.vehicle-dialog {

	.mat-dialog-container {
		padding: 0;
	}

	.marker-vehicle-info-content {

		.marker-vehicle-title {
			background: $primary;
			font-size: 24px;
			font-weight: bold;
			padding: $padding;
			color: $white;
		}

		.marker-vehicle-basic-info {
			display: flex;
			justify-content: space-between;

			.marker-vehicle-name {
				font-size: 21px;
				margin-right: 8px;
			}

			mat-chip {
				font-size: 18px;
			}
		}

		.marker-vehicle-street {
			display: flex;
			justify-content: space-between;

			span {
				margin-right: 8px;
			}
		}

		.marker-vehicle-battery {
			display: flex;
			justify-content: space-between;
			margin-top: 4px;
		}

		ul {
			padding: $padding;
			margin: 0;
			list-style: none;

			li {
				display: block;
				padding: 8px 0;
				font-weight: bold;
			}
		}

		.mat-chip {
			padding: 2px 8px;
			background: $primary;
			color: $white;
			border-radius: 4px;
			min-width: 50px;
			text-align: center;
		}

		.mat-raised-button {
			margin-top: 24px;
		}

		.mat-progress-bar {
			margin-right: 12px;
			height: 21px;
		}
	}
}
