<div class="marker-vehicle-info-content">
	<div class="marker-vehicle-title">Informacje o pojeździe</div>
	<ul>
		<li>
			<div class="marker-vehicle-basic-info">
				<span class="marker-vehicle-name">{{vehicle.name}} {{vehicle.sideNumber}}</span>

				<mat-chip [color]="'primary'" title="Rejestracja">
					{{vehicle.plates}}
				</mat-chip>
			</div>
		</li>

		<li *ngIf="vehicle.address">
			<div class="marker-vehicle-street">
				<span>ul. {{vehicle.address}}</span>

				<mat-chip [color]="getVehicleStatusColor()"
						  [selected]="true"
						  [disableRipple]="true">{{getVehicleStatus()}}
				</mat-chip>
			</div>
		</li>

		<li>
			<div>Poziom baterii:</div>
			<div class="marker-vehicle-battery">
				<mat-progress-bar [value]="vehicle.battery"
								  [bufferValue]="100"
								  [color]="getProgressBarColor()">
				</mat-progress-bar>

				<mat-chip [title]="'zasięg'"
						  [color]="getProgressBarColor()"
						  [selected]="true"
						  [disableRipple]="true">
					{{vehicle.rangeKm}} km
				</mat-chip>
			</div>

		</li>

	</ul>
</div>
