<div class="map-toolbar">

	<mat-form-field>
		<mat-select [value]="'Warszawa'"
					(selectionChange)="changeLocation($event)">
			<mat-option [value]="'Warszawa'">
				Warszawa
			</mat-option>
			<mat-option [value]="'Wrocław'">
				Wrocław
			</mat-option>
		</mat-select>
	</mat-form-field>

	<div #mapIcon class="map-toolbar-icons">
			<span *ngFor="let icon of icons; let iconIndex=index">

				<mat-icon [svgIcon]="icon"
						  [attr.data-icon-index]="iconIndex"
						  (click)="filterObjects(iconIndex)">
				</mat-icon>

			</span>
	</div>

	<ng-container *ngIf="showBatteryForm">
		<vehicle-battery-form [vehicleBattery]="batteryPower" (vehicleBatteryChanged)="batteryPowerChanged($event)">
		</vehicle-battery-form>
	</ng-container>
</div>
