<div class="map-toolbar">

	<mat-form-field>
		<mat-select [value]="'Wrocław'" (selectionChange)="changeLocation($event)">
			<mat-option [value]="'Warszawa'">
				Warszawa
			</mat-option>
			<mat-option [value]="'Wrocław'">
				Wrocław
			</mat-option>
		</mat-select>
	</mat-form-field>

	<div #mapIcon>
			<span *ngFor="let icon of icons; let iconIndex=index">

				<mat-icon [svgIcon]="icon"
						  [attr.data-icon-index]="iconIndex"
						  (click)="filterObjects(iconIndex)">
				</mat-icon>

			</span>
	</div>
</div>
